[Unit]
Description=Just Your Koresh
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=~/bot-koresh
ExecStart=~/bot-koresh/scripts/start_bot.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
