[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
autoflake = "*"
base58 = "*"
dacite = "*"
dataclasses-json = "*"
idna-ssl = "*"
pipenv = "*"
pre-commit = "*"
psutil = "*"
pymongo = "*"
python-dotenv = "*"
python-telegram-bot = "*"
PySocks = "*"
requests = "*"
tensorflow = "*"
tqdm = "*"

[dev-packages]
pytest = "*"
